<div class='container'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Patient Check-In</h1>
      <form id='checkinForm'>
        <div class="form-group">
          <label class='text-center' for="title">Patient Name</label>
          <input type="text" class="form-control" id="routeName">
        </div>
        <button type="submit" id='patientSubmit' class="btn btn-success submit btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

  $('#patientSubmit').on('click', function (event) {
    event.preventDefault();
    
    var searchedName = $('#routeName').val().trim();
    
    searchedName = searchedName.replace(/\s+/g, "").toLowerCase();
    
    var checkedIn = {
      isPresent: 1
    }

    $.post('/api/appointments/' + searchedName, checkedIn).then(function(data){
      console.log(data)
    })
    
  Swal.fire(
  'All Checked In!',
  'You will be seen soon',
  'success'
)


  }); 
    
    
    
   
</script>