<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patients">Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appointments">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/waitingroom">Waiting Room</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/checkin">Check In</a>
            </li>
    </div>
</nav>

<style>
    body{
        background-image: url(https://ktconnections.com/images/ehr_icon.png);
        background-repeat: no-repeat;
        
    }
    h1{
        text-align: right;
        font-size: 190px;
        color: red;
    }
    h5{
        font-size: 21px;
        color:blue;
    }
</style>
<body>
    <h1>Santé</h1>
    <h5 class='text-right'>Less focus on documenting, more focus on healing</h5>
</body>